
body {
    font-family: "Open Sans", "Arial Narrow", "Helvetica", sans-serif;
    font-size: 9pt;
    font-stretch: condensed;
    font-weight: 100%;
}
table {
    width:100%;
    border-width: 2px;
    border-color: white;
    border-style:solid;
    padding: 2px;
    margin: 2px;
}

table td {
    padding: 1px;
    vertical-align: top;
}

table th {
    background-color: #def;
    padding: 10px;
}
table.main tr:nth-child(even) {
    background-color: #ffffff;
}
table.main tr:nth-child(odd) {
    background-color: #EBF8FF;
}

table.main tr:hover {
    background-color:#fffae8 ;
}

table.main td:hover {
    background-color:#fff1c5 ;
}

/* Automatic Serial Number Row */
table.main {
    counter-reset: serial-number; /* Set the serial number counter to 0 */
}
table.main td:first-child:before {
    counter-increment: serial-number; /* Increment the serial number counter */
    content: counter(serial-number); /* Display the counter */
}

td p {
    padding: 0;
    margin: 0;
}

.group {
    padding:0;
    font-size: 125%;
    font-weight:bold;
    vertical-align: middle;
    text-align: center;
}

td.mutable {
	background-color:#FFE0C0;
}

td.mutable-light {
    background-color: rgba(255, 229, 187, 0.5);
}

td.mutable-light p:before {
    content: "Edit if use custom SSL certificates";
    font-size: 8pt;
    font-style: italic;
    display: block;
    position: relative;
    height: 1px;
    text-align: right;
    color:rgba(150,150,120, 0.5);
    text-decoration: none;
}
