
body {
    font-family: "Open Sans", "Arial Narrow", "Helvetica", sans-serif;
    font-size: 9pt;
    font-stretch: condensed;
    font-weight: 100%;
}
table {
    width:100%;
    border-width: 2px;
    border-color: white;
    border-style:solid;
    padding: 2px;
    margin: 2px;
}

table td {
    padding: 1px;
    vertical-align: top;
}

table th {
    background-color: #ccc;
    padding: 10px;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}
table tr:nth-child(odd) {
    background-color: #eefaff;
}

table tr:hover {
    background-color: #ffefc4;
}

/* Automatic Serial Number Row */
table {
    counter-reset: serial-number; /* Set the serial number counter to 0 */
}
table td:first-child:before {
    counter-increment: serial-number; /* Increment the serial number counter */
    content: counter(serial-number); /* Display the counter */
}

.group {
    padding:0;
    font-size: 125%;
    font-weight:bold;
    vertical-align: middle;
    text-align: center;
}